

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.tblHead{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-decoration: underline;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.plyrTbl{
  padding: 2vw;
  border: 2px solid black;
  background-color: #720012;
  border-radius: 25px;
  color: white;
  margin-top: 2vh;
}
.scoreBrdAlign{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100vh;
 
}
.tblDataHolder{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: 1px solid black;
  border-collapse: collapse;
  margin-top: 1vh;
}
.inputHlder{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.inputHlder > form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}
.inputHlder > form > input{
  margin-bottom: 1vh;
  text-align: center;
}
.tblData{
  border: 1px solid #8EB94D;
  border-collapse: collapse;
  width: 33vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 1vw; */
}
.tblButtons{
  background-color: #8EB94D;
  color: black;
  width: 4vw;
  font-size: 13px;
  font-weight: bold;
  height: 4vh;
  border-radius: 5px;
  margin: 8px;
}
.tblDataEmoji{
  background-color: #8EB94D;
  color: black;
  width: 3vw;
  font-size: 20px !important;
  width: 4vw;
  border-radius: 5px;
  margin: 8px;
  height: 4vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nameAndScore{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.inlinePoints{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid white;
  border-radius: 5px;
  padding: 5px;
}
.inlinePoints > div{
  margin-top: -24px;
  font-size: 25px;
}
.inlinePoints > p{
  font-weight: bolder;
  font-family: monospace;
  font-size: 20px;
}
.nameAndScore > h2{
  margin-top: -20px;
}
.moveDown{
  margin-top: 20px;
}
.inlineTally{
  display: flex;
  flex-direction: row;
  width: 20vw;
  align-items: center;
  border: 1px solid white;
}
.half > button {
  width: 70px;
  height: 35px;
  font-size: 16px;
  border-radius: 5px;
  background-color: black;
  color: white;
  margin-bottom: 17px;
}
.half > div {
  font-size: 20px;
}
.holdAll{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #042A2B;
  height: 100vh;
}
.half{
  display: flex;
  width: 10vw;
  justify-content: center;
}
.holdAll > h1 {
  font-size: 130px;
}